{% extends "SiteInternetBundle::template.html.twig" %}
{% block section %}
    <!-- PRESTATION -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title">
                        <h1>Prestations</h1>
                        <span class="st-border"></span>
                    </div>
                </div>

                <div class="container">
                    <div class="accueil col-md-8 col-md-offset-2">
                        <p>Nous opérons dans les départements Herault (34) et Gard (30) essentiellement pour le moment.
                            Nous vous proposons des prestations diverses allant du nettoyage simple d'une sépulture en granit au nettoyage d'un monument ou caveau en béton à l'aide d'aérogommeur.
                            Vous pouvez ajouter le fleurissement au service de nettoyage.
                            Ces services comprennent le désherbage manuel autour de la sépulture ou du monument ainsi que dans les jardinières, aucun produit chimique n'est utilisé.
                            Les maîtres mots de nos services sont : Respect (respect du lieu, de la sépulture ou du monument) et Professionalisme. Le nettoyage est manuel, nous n'utilisons pas de nettoyeur haute pression à eau pour éviter tous dommages sur les matériaux nettoyés. Les aérogommeurs utilisés sont sans dommage pour le béton, très efficaces et sains pour l'environnement.
                            Vous trouverez dans l'onglet Tarifs tous les types de prestations différentes allant du passage simple à l'abonnement annuelle.</p>
                    </div>
                </div>
                <!--  <div class="col-md-4 col-sm-6 st-service">
                      <h2> Prestation basic</h2>
                      <p> Nettoyage + option bougie.</p>
                  </div>
  
                  <div class="col-md-4 col-sm-6 st-service">
                      <h2> Prestation silver</h2>
                      <p> Nettoyage et fleurissement + option bougie.</p>
                  </div>
  
                  <div class="col-md-4 col-sm-6 st-service">
                      <h2> Prestation gold</h2>
                      <p>Nettoyage, fleurissement et ornements + option bougie.</p>
                  </div>
              </div>-->
            </div>
    </section>
    <!-- /PRESTATION -->


    <!-- TRAVEAUX -->
    <section id="our-works">
        <div class="container">
            <div class="row">
                <div class="col-md-12"></div>

                <div class="portfolio-wrapper" >

                    <div class="portfolio-items">

                        <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
                            <div class="portfolio-content">
                                <img class="img-responsive" src="{{asset ('images/works/portfolio-1.jpg')}}" alt="">
                                <div class="portfolio-overlay">
                                    <a href="{{asset ('images/works/portfolio-1.jpg')}}"><i class="fa fa-camera-retro"></i></a>
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
                                </div>
                            </div>	
                        </div>

                        <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
                            <div class="portfolio-content">
                                <img class="img-responsive" src="{{asset ('images/works/portfolio-2.jpg')}}" alt="">
                                <div class="portfolio-overlay">
                                    <a href="{{asset ('images/works/portfolio-2.jpg')}}"><i class="fa fa-camera-retro"></i></a>
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
                                </div>
                            </div>	
                        </div>

                        <div class="col-md-4 col-sm-6 work-grid wordpress graphic">
                            <div class="portfolio-content">
                                <img class="img-responsive" src="{{asset ('images/works/portfolio-3.jpg')}}" alt="">
                                <div class="portfolio-overlay">
                                    <a href="{{asset ('images/works/portfolio-3.jpg')}}"><i class="fa fa-camera-retro"></i></a>
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
                                </div>
                            </div>	
                        </div>

                        <div class="col-md-4 col-sm-6 work-grid html php bootstrap">
                            <div class="portfolio-content">
                                <img class="img-responsive" src="{{asset ('images/works/portfolio-4.jpg')}}" alt="">
                                <div class="portfolio-overlay">
                                    <a href="{{asset ('images/works/portfolio-4.jpg')}}"><i class="fa fa-camera-retro"></i></a>
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
                                </div>
                            </div>	
                        </div>

                        <div class="col-md-4 col-sm-6 work-grid wordpress graphic php">
                            <div class="portfolio-content">
                                <img class="img-responsive" src="{{asset ('images/works/portfolio-5.jpg')}}" alt="">
                                <div class="portfolio-overlay">
                                    <a href="{{asset ('images/works/portfolio-5.jpg')}}"><i class="fa fa-camera-retro"></i></a>
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
                                </div>
                            </div>	
                        </div>

                        <div class="col-md-4 col-sm-6 work-grid html bootstrap graphic">
                            <div class="portfolio-content">
                                <img class="img-responsive" src="{{asset ('images/works/portfolio-6.jpg')}}" alt="">
                                <div class="portfolio-overlay">
                                    <a href="{{asset ('images/works/portfolio-6.jpg')}}"><i class="fa fa-camera-retro"></i></a>
                                    <h5>Lorem ipsum dolor</h5>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta libero autem, magni veritatis, optio dolor.</p>
                                </div>
                            </div>	
                        </div>

                    </div>				
                </div>

            </div>
        </div>
    </section>
    <!-- /TRAVEAUX -->
{% endblock %}